<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent!</h3>
      <hr>
      <app-servers></app-servers>
      <a routerLink="/">Home</a><br/>
       <a routerLink="/sample">Sample</a><br/>
<a routerLink="/feature">Feature</a><br/>

<a [routerLink]="'/sample/1'" [queryParams]="{allowEdit:'1'}" fragment="loading"  >Sample</a><br/>

<a [routerLink]="'/sample/1/edit'" [queryParams]="{allowEdit:'1'}" fragment="loading"  >Sample</a><br/>


      <!--<div app-servers></div>-->
      <router-outlet></router-outlet>
      <!--<div class="app-servers"></div>-->
      <p appSampleDirective> This will change color</p>
    </div>
  </div>
</div>

